<div>
<form action="/users" method="POST">
  Enter your username:<br>
  <input 
  id="username" 
  type="text" 
  name="username" 
  value="Enter Here">
  <br/>
  <input type="submit" value="Submit">
</form> 
<script src="client7.js"></script>
</div>
