<div>
<h1>Welcome my express chatroom </h1>
<br />
<p>If this is your first time please register 
<a href="/users/new">here</a>
<br />
<p> Otherwise please to the 
<a href="/chat">chat</a>
</p>
</p>
</div>
